.u-section-1 {
  /*  background-image: url("../images/luxury-bedroom-hotel_1150-10836.jpg");*/
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: 152px auto 0 -64px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.25rem;
  margin: -41px 288px 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 379px;
  width: 337px;
  box-shadow: -3px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  height: auto;
  margin: -172px -49px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 20px;
}

.u-section-1 .u-text-2 {
  margin: 15px 61px 0 51px;
}

.u-section-1 .u-icon-2 {
  height: 31px;
  width: 31px;
  margin: -29px auto 0 8px;
}

.u-section-1 .u-icon-3 {
  height: 34px;
  width: 34px;
  margin: 8px 215px 0 auto;
}



.u-section-1 .u-text-3 {
  margin: -29px 64px 0 51px;
}

.u-section-1 .u-text-4 {
  margin: 18px 46px 0 51px;
}

.u-section-1 .u-icon-4 {
  height: 37px;
  width: 37px;
  margin: -31px 212px 0 auto;
}

.u-section-1 .u-icon-5 {
  height: 33px;
  width: 33px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-text-5 {
  margin: -31px 46px 0 51px;
}

.u-section-1 .u-icon-6 {
  height: 38px;
  width: 38px;
  margin: 14px auto 0 9px;
}

.u-section-1 .u-text-6 {
  margin: -31px 24px 0 54px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 22px 24px 0 54px;
}

.u-section-1 .u-icon-7 {
  height: 37px;
  width: 37px;
  color: rgb(235, 186, 22) !important;
  margin: -31px auto 0 9px;
}

.u-section-1 .u-text-8 {
  margin: 14px 22px 0 56px;
}

.u-section-1 .u-icon-8 {
  height: 39px;
  width: 39px;
  margin: -29px 215px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 200px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 50px;
    height: 61px;
    width: 61px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -54px;
    margin-right: 1px;
    margin-left: 111px;
  }

  .u-section-1 .u-group-1 {
    margin: 23px auto 23px 144px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-right: 31px;
    margin-left: 54px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 54px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 133px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 68px;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 321px;
}

.u-section-2 .u-text-1 {
  width: 791px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 791px;
  font-weight: 700;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 519px;
}

.u-section-3 .u-text-1 {
  width: 500px;
  margin: 51px auto 0;
}

.u-section-3 .u-table-1 {
  margin: 20px auto 42px 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 640px;
    margin: 12px -50px 53px;
  }
  .u-icon-2-ar{
      margin: 8px -5px 0 auto !important;
    }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 440px;
    margin-bottom: 60px;
  }
  .u-time-ar{
      margin: -31px 0px 0 135px !important;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-icon-3 {
    margin: 8px 250px 0 auto;
    }
   .u-section-1 .u-icon-4 {
    margin: -31px 250px 0 auto;
    }
    .u-section-1 .u-icon-8 {
    margin: -29px 250px 0 auto;
    }

    .u-icon-2-ar{
      margin: 8px 2px 0 auto !important;
    }

    .u-icon-3-ar{
      margin: -31px 0px 0 auto !important;
    }
    
    .u-icon-7-ar{
      margin: -29px 3px 0 auto !important;
    }

    .u-icon-1-en{
      margin: -29px auto 0 3px !important;
    }
    .u-icon-4-en{
      margin: 5px auto 5px 2px !important;
    }
    .u-icon-5-en{
      margin: 4px auto 0 0px !important;
    }
    .u-icon-6-en{
      margin: -31px auto 0 0px !important;
    }
    .u-icon-7-en{
      margin: -29px 249px 0 -5px !important;
    }

 }

 @media (max-width: 767px) {
  .u-icon-2-ar{
      margin: 8px -5px 0 auto !important;
    }
    .u-icon-3-ar{
      margin: -31px -8px 0 auto !important;
    }
    
    .u-icon-7-ar{
      margin: -29px -8px 0 auto !important;
    }
}